body {
    font-size: .875rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    color: white;
  }
  

  
  .SEARCH_BAR{
    position: relative;
    width: 88% !important;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
}

.SEABTN{
    position: relative;
    width: 10%;
    float: left;
}


  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  

  .box_shadow{
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }

  .NAV_ITEM{
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
  }
  
  .NAV_ITEM:hover{
background-color: #170129;
  }

.Signout{
color: white !important;
-webkit-transition: background-color 1000ms ease-out;
-moz-transition: background-color 1000ms ease-out;
-o-transition: background-color 1000ms ease-out;
transition: background-color 1000ms ease-out;
}

.Signout:hover{
color: red !important;
}

  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #6653bb;
    color: white;
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  

  .icon{
    position: relative;
    float: right;
    width: 8%;
    top: 25%;
    margin-right: 10px;
  }

  .WHCAPACITY_CARD{
    position: relative;
    height: 200px;
    width: 30%;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    float: left;
    display: inline-block;
    margin: 20px
  }


  .PROGRESS_BAR{
    position: relative;
    top: 50%;
    margin-bottom: 10px;
  }

  .NUM_ITEMS{
    color: rgb(255, 174, 0);
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 80px;
  }
  
  .NUM_EMPLOYEES{
    color: rgb(62, 166, 192);
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 80px;
  }

  .TOPITEMS_CARD{
    position: relative;
    height: auto;
    width: 95%;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    float: left;
    display: inline-block;
    margin: 20px;
    color: rgb(204, 100, 230);
  }

 .LESSITEMS_CARD{
  position: relative;
  height: auto;
  width: 95%;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  float: left;
  display: inline-block;
  margin: 20px;
  color: rgb(187, 25, 25);
 }


  @media (max-width:1500px){
    .WHCAPACITY_CARD{
      position: relative;
      height: auto;
      width: 95%;
      padding: 10px;
      color: rgb(255, 255, 255);
      font-size: 20px;
      float: left;
      display: inline-block;
      margin: 20px
    }
  }